# Server Configuration
PORT=8080
APP_ENV=development

# PostgreSQL Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres_db
DB_SSLMODE=disable
DB_TIMEZONE=UTC
